In [1]:
from sklearn.preprocessing import LabelEncoder

from ara_vec_preprocess_configs import *
from data_shuffling_split import *

In [2]:
new_dialect_dataset = read_file("dataset/train/strat_train_set.csv")
new_dialect_dataset.head()

,id,dialect,dialect_l_encoded,text
0,1056552188082716800,LY,8,توا دوشه الكلاسيكو شن بيتمها وشن بيسكتهم وشن ب...
1,891734969202114560,SY,15,حسابشخصي في احلي من الشحاطه 😂
2,1110565179257954432,SD,14,حسابشخصي موهبه والله 😂 اوع تحاول تطورها تقوم م...
3,1172817955270340608,LB,7,حسابشخصي حسابشخصي 😂 انا صرلي عشر سنين مش مجدده...
4,293253217821790208,QA,12,احلي شعور تكون باجازه وتقوم من الصبح وتمر ع ال...

In [3]:
len(new_dialect_dataset)

449033

In [6]:
preprocessed_new_dialect_dataset = new_dialect_dataset.copy()
train_set, test_set             = general_split_and_shuffle(preprocessed_new_dialect_dataset,  .02)
strat_train_set, strat_test_set = Stratified_split_and_shuffle(preprocessed_new_dialect_dataset, "dialect_l_encoded", .02)

The number of instances in the training data after train_test_split are:  440052
The number of instances in the testing data after train_test_split are:   8981
The number of instances in the training data after StratifiedShuffleSplit are:  440052
The number of instances in the testing data after StratifiedShuffleSplit are:   8981

In [9]:
compare_proportions = compare_random_and_stratified_split(preprocessed_new_dialect_dataset, test_set, strat_test_set, "dialect_l_encoded")
compare_proportions

,Overall,stratified_test,random_test,stratified_test. %error,random_test. %error
0,0.057390,0.057455,0.054560,0.112624,-4.931810
1,0.057381,0.057343,0.060684,-0.065881,5.755524
2,0.035318,0.035297,0.039528,-0.060534,11.919592
3,0.125788,0.125821,0.127603,0.026311,1.442612
4,0.033822,0.033849,0.033738,0.081811,-0.247406
5,0.060938,0.060906,0.062243,-0.051293,2.141366
6,0.091902,0.091861,0.091972,-0.044979,0.076178
7,0.060274,0.060238,0.061686,-0.059206,2.342329
8,0.079658,0.079724,0.083621,0.082878,4.975198
9,0.025183,0.025164,0.023049,-0.074529,-8.475343
10,0.041721,0.041755,0.039417,0.081617,-5.522953
11,0.095465,0.095424,0.090079,-0.043442,-5.641942
12,0.067808,0.067810,0.065026,0.002783,-4.102422
13,0.058559,0.058568,0.058123,0.015229,-0.745344
14,0.031501,0.031511,0.029952,0.031561,-4.916997
15,0.035447,0.035408,0.037301,-0.110586,5.229414
16,0.020179,0.020154,0.018483,-0.125181,-8.402099
17,0.021667,0.021713,0.022937,0.212056,5.865043

In [11]:
strat_train_set_path_to_save = "strat_train_set.csv"

save_train_test_data(strat_train_set, "dataset/train/", strat_train_set_path_to_save)

True

In [14]:
new_dialect_dataset = read_file("dataset/train/strat_train_set.csv")
new_dialect_dataset.head()

,id,dialect,dialect_l_encoded,text
0,466624110593052672,OM,10,حسابشخصي حسابشخصي حسابشخصي حسابشخصي حسابشخصي ح...
1,470094971731603456,BH,1,تصبحون علي خير احبائي good night to all رابطويب
2,1155509448317841408,DZ,2,حسابشخصي تسلمين اثار هذا تيم ابن اختي
3,808453802147938304,SY,15,حسابشخصي خليك عند جحشك السيسي
4,565136236025618432,SY,15,اشتقنا عليكي كتير كتير وحلا نرجعلك حلا سوريا ك...

In [15]:
len(new_dialect_dataset)

440052

In [16]:
strat_test_set_path_to_save  = "strat_val_set.csv"

save_train_test_data(strat_test_set, "dataset/validation/", strat_test_set_path_to_save)

True

# Shuffle and Split

Instead of random shuffle using ordinal **train_test_split**, we use **StratifiedShuffleSplit**, that ensure we have proportions almost identical to the orginal. It help us to make approximate distrbution for samples per class.

To do that we pass the most representative attribute of our data, and as we have the dialect column which has 18 different classes, so it will be more representative to distribute sampels per class based on that attribute.

**Look at the table below to see how difference between the two method of split**

In [ ]:
train_set, test_set             = general_split_and_shuffle(preprocessed_dialect_dataset,  .02)
strat_train_set, strat_test_set = Stratified_split_and_shuffle(preprocessed_dialect_dataset, "dialect", .02)

In [ ]:
compare_proportions = compare_random_and_stratified_split(preprocessed_dialect_dataset, test_set, strat_test_set)
compare_proportions

In [ ]:
strat_train_set_path_to_save = "strat_train_set.csv"

save_train_test_data(strat_train_set, "train/", strat_train_set_path_to_save, data_path=DATA_PATH)

In [ ]:
strat_test_set_path_to_save  = "strat_test_set.csv"

save_train_test_data(strat_test_set, "test/", strat_test_set_path_to_save, data_path=DATA_PATH)

In [ ]:
strat_train_set = read_csv("train/strat_train_set.csv")
strat_train_set.head()

In [ ]:
strat_test_set = read_csv("test/strat_test_set.csv")
strat_test_set.head()