In [1]:
import sys
sys.path.append('../assets/')

In [2]:
# Main libraries
from data_shuffling_split import *

In [3]:
dialect_dataset = read_file("../dataset/dialect_dataset_with_text.csv")
dialect_dataset.head()

,id,dialect,text
0,1175358310087892992,IQ,@Nw8ieJUwaCAAreT لكن بالنهاية .. ينتفض .. يغير .
1,1175416117793349632,IQ,@7zNqXP0yrODdRjK يعني هذا محسوب على البشر .. ح...
2,1175450108898565888,IQ,@KanaanRema مبين من كلامه خليجي
3,1175471073770573824,IQ,@HAIDER76128900 يسلملي مرورك وروحك الحلوه💐
4,1175496913145217024,IQ,@hmo2406 وين هل الغيبه اخ محمد 🌸🌺

# Shuffle and Split

Instead of random shuffle using ordinal **train_test_split**, we use **StratifiedShuffleSplit**, that ensure we have proportions almost identical to the orginal. It help us to make approximate distrbution for samples per class.

To do that we pass the most representative attribute of our data, and as we have the dialect column which has 18 different classes, so it will be more representative to distribute sampels per class based on that attribute.

**Look at the table below to see how difference between the two method of split**

# Train & Dev set

In [4]:
train_set, dev_set             = general_split_and_shuffle(dialect_dataset,  .02)
strat_train_set, strat_dev_set = Stratified_split_and_shuffle(dialect_dataset, "dialect", .02)

The number of instances in the training data after train_test_split are:  449033
The number of instances in the testing data after train_test_split are:   9164
The number of instances in the training data after StratifiedShuffleSplit are:  449033
The number of instances in the testing data after StratifiedShuffleSplit are:   9164

In [5]:
compare_proportions            = compare_random_and_stratified_split(dialect_dataset, 
                                                                      dev_set, strat_dev_set, "dialect")
compare_proportions

,Overall,stratified_test,random_test,stratified_test. %error,random_test. %error
AE,0.057390,0.057399,0.055653,0.014557,-3.027711
BH,0.057381,0.057399,0.058053,0.029773,1.170797
DZ,0.035319,0.035356,0.037647,0.104393,6.592641
EG,0.125789,0.125818,0.118180,0.023635,-6.048918
IQ,0.033822,0.033828,0.037756,0.018704,11.633779
JO,0.060937,0.060890,0.059472,-0.075866,-2.403848
KW,0.091902,0.091881,0.095701,-0.022028,4.133826
LB,0.060273,0.060236,0.059254,-0.062211,-1.691631
LY,0.079658,0.079660,0.078023,0.002085,-2.052752
MA,0.025183,0.025207,0.024334,0.094674,-3.371809
OM,0.041720,0.041685,0.041357,-0.084354,-0.869032
PL,0.095465,0.095482,0.096464,0.017634,1.046387
QA,0.067807,0.067765,0.066565,-0.061809,-1.832050
SA,0.058560,0.058599,0.060563,0.066429,3.420611
SD,0.031502,0.031536,0.032300,0.110194,2.535008
SY,0.035448,0.035465,0.036120,0.048600,1.895651
TN,0.020179,0.020188,0.021497,0.042607,6.531857
YE,0.021665,0.021606,0.021061,-0.272638,-2.791006

In [7]:
strat_dev_set_path_to_save = "strat_dev_set.csv"

save_train_test_data(strat_dev_set, "../dataset/validation/", strat_dev_set_path_to_save)

True

In [8]:
print(len(dialect_dataset))
print(len(strat_dev_set))
print(len(strat_train_set))

458197
9164
449033

In [9]:
9164 + 449033

458197

# Train & Test set

In [10]:
train_set, test_set              = general_split_and_shuffle(strat_train_set,  .02)
strat_train_set, strat_test_set  = Stratified_split_and_shuffle(strat_train_set, "dialect", .02)

The number of instances in the training data after train_test_split are:  440052
The number of instances in the testing data after train_test_split are:   8981
The number of instances in the training data after StratifiedShuffleSplit are:  440052
The number of instances in the testing data after StratifiedShuffleSplit are:   8981

In [11]:
compare_proportions            = compare_random_and_stratified_split(dialect_dataset, 
                                                                      test_set, strat_test_set, "dialect")
compare_proportions

,Overall,stratified_test,random_test,stratified_test. %error,random_test. %error
AE,0.057390,0.057455,0.055228,0.112327,-3.767996
BH,0.057381,0.057343,0.056675,-0.066488,-1.230762
DZ,0.035319,0.035297,0.036410,-0.062663,3.089934
EG,0.125789,0.125821,0.122369,0.025828,-2.718243
IQ,0.033822,0.033849,0.034406,0.081428,1.727505
JO,0.060937,0.060906,0.058791,-0.049746,-3.521510
KW,0.091902,0.091861,0.094533,-0.044530,2.863265
LB,0.060273,0.060238,0.061129,-0.057937,1.419949
LY,0.079658,0.079724,0.077831,0.082836,-2.293433
MA,0.025183,0.025164,0.025276,-0.076460,0.365679
OM,0.041720,0.041755,0.039305,0.083340,-5.788216
PL,0.095465,0.095424,0.097205,-0.043802,1.822359
QA,0.067807,0.067810,0.072709,0.004044,7.229295
SA,0.058560,0.058568,0.058345,0.013873,-0.366408
SD,0.031502,0.031511,0.033070,0.029311,4.977758
SY,0.035448,0.035408,0.032068,-0.111577,-9.535013
TN,0.020179,0.020154,0.022492,-0.126049,11.461536
YE,0.021665,0.021713,0.022158,0.217631,2.273378

In [13]:
strat_test_set_path_to_save  = "strat_test_set.csv"

save_train_test_data(strat_test_set, "../dataset/test/", strat_test_set_path_to_save)

True

In [14]:
strat_train_set_path_to_save  = "strat_train_set.csv"

save_train_test_data(strat_train_set, "../dataset/train/", strat_train_set_path_to_save)

True

In [15]:
strat_train_set = read_file("../dataset/train/" + strat_train_set_path_to_save)
strat_train_set.head()

,id,dialect,text
0,1174699325378715648,LB,@Jamal_Moghrabi @CAROLE_SAMAHA شعب ما بيعرف ال...
1,891013156553850880,LB,@SensitiveEmotin @slam116 إيه بعرف بس هوي سؤال...
2,896660728731635712,SY,@EltaherMano @ititalotibi دايما يسبنا ابناء ال...
3,1165385853482545152,SA,@QMonira لن يجد اللاعب هالراتب في اوروبا وفلام...
4,1109904055462252416,EG,@NiMoo1121 التراب دا اساسي الفترة دي قولي ليه\...

In [17]:
strat_test_set = read_file("../dataset/test/" + strat_test_set_path_to_save)
strat_test_set.head()

,id,dialect,text
0,925455533980749824,EG,"مش حأكتب حرف وأبعته,طالما بعت يبقى إتفهم وحأست..."
1,918895484416217216,KW,هههههههه ترامب كان يتكلم عن الغاء للتفاق الحين...
2,1100824301803106432,EG,@noragamal68 ايوه عدت قدامى اصل السواق ده بياخ...
3,899433687451873280,LY,ما عندك ما اتقول في الدراهم #لو_خيروك_الحب_ال...
4,336616097073750016,OM,@gsoon1988 يارب الله يكون بعونكم .... عسى يارب...

In [20]:
strat_dev_set = read_file("../dataset/validation/" + strat_dev_set_path_to_save)
strat_train_set.head()

,id,dialect,text
0,1174699325378715648,LB,@Jamal_Moghrabi @CAROLE_SAMAHA شعب ما بيعرف ال...
1,891013156553850880,LB,@SensitiveEmotin @slam116 إيه بعرف بس هوي سؤال...
2,896660728731635712,SY,@EltaherMano @ititalotibi دايما يسبنا ابناء ال...
3,1165385853482545152,SA,@QMonira لن يجد اللاعب هالراتب في اوروبا وفلام...
4,1109904055462252416,EG,@NiMoo1121 التراب دا اساسي الفترة دي قولي ليه\...

In [21]:
print(len(dialect_dataset))
print(len(strat_train_set))
print(len(strat_dev_set))
print(len(strat_test_set))

458197
440052
9164
8981

In [22]:
print(len(dialect_dataset) == (len(strat_train_set) + len(strat_dev_set) + len(strat_test_set)))

True