In [1]:
import sys
sys.path.append('../assets/')

In [2]:
# Main libraries
from data_shuffling_split import *

In [3]:
dialect_dataset = read_file("../dataset/dialect_data/dialect_dataset_with_text.csv")
dialect_dataset.head()

,id,dialect,text
0,1175358310087892992,IQ,@Nw8ieJUwaCAAreT لكن بالنهاية .. ينتفض .. يغير .
1,1175416117793349632,IQ,@7zNqXP0yrODdRjK يعني هذا محسوب على البشر .. ح...
2,1175450108898565888,IQ,@KanaanRema مبين من كلامه خليجي
3,1175471073770573824,IQ,@HAIDER76128900 يسلملي مرورك وروحك الحلوه💐
4,1175496913145217024,IQ,@hmo2406 وين هل الغيبه اخ محمد 🌸🌺

# Shuffle and Split

Instead of random shuffle using ordinal **train_test_split**, we use **StratifiedShuffleSplit**, that ensure we have proportions almost identical to the orginal. It help us to make approximate distrbution for samples per class.

To do that we pass the most representative attribute of our data, and as we have the dialect column which has 18 different classes, so it will be more representative to distribute sampels per class based on that attribute.

**Look at the table below to see how difference between the two method of split**

# Train & Dev set

In [4]:
train_set, dev_set             = general_split_and_shuffle(dialect_dataset,  .02)
strat_train_set, strat_dev_set = Stratified_split_and_shuffle(dialect_dataset, "dialect", .02)

The number of instances in the training data after train_test_split are:  449033
The number of instances in the testing data after train_test_split are:   9164
The number of instances in the training data after StratifiedShuffleSplit are:  449033
The number of instances in the testing data after StratifiedShuffleSplit are:   9164

In [5]:
compare_proportions            = compare_random_and_stratified_split(dialect_dataset, 
                                                                      dev_set, strat_dev_set, "dialect")
compare_proportions

,Overall,stratified_test,random_test,stratified_test. %error,random_test. %error
AE,0.057390,0.057399,0.057508,0.014557,0.204698
BH,0.057381,0.057399,0.055653,0.029773,-3.012958
DZ,0.035319,0.035356,0.035901,0.104393,1.649214
EG,0.125789,0.125818,0.124945,0.023635,-0.670371
IQ,0.033822,0.033828,0.034701,0.018704,2.599832
JO,0.060937,0.060890,0.062527,-0.075866,2.610266
KW,0.091902,0.091881,0.090026,-0.022028,-2.040585
LB,0.060273,0.060236,0.060781,-0.062211,0.843023
LY,0.079658,0.079660,0.079114,0.002085,-0.682861
MA,0.025183,0.025207,0.025644,0.094674,1.827915
OM,0.041720,0.041685,0.041357,-0.084354,-0.869032
PL,0.095465,0.095482,0.093082,0.017634,-2.497095
QA,0.067807,0.067765,0.072239,-0.061809,6.536365
SA,0.058560,0.058599,0.056962,0.066429,-2.728723
SD,0.031502,0.031536,0.030991,0.110194,-1.621816
SY,0.035448,0.035465,0.032628,0.048600,-7.955288
TN,0.020179,0.020188,0.020733,0.042607,2.746461
YE,0.021665,0.021606,0.025207,-0.272638,16.348588

In [6]:
strat_dev_set_path_to_save = "strat_dev_set.csv"

save_train_test_data(strat_dev_set, "../dataset/dialect_data/validation/", strat_dev_set_path_to_save)

True

In [7]:
print(len(dialect_dataset))
print(len(strat_dev_set))
print(len(strat_train_set))

458197
9164
449033

In [8]:
9164 + 449033

458197

# Train & Test set

In [9]:
train_set, test_set              = general_split_and_shuffle(strat_train_set,  .02)
strat_train_set, strat_test_set  = Stratified_split_and_shuffle(strat_train_set, "dialect", .02)

The number of instances in the training data after train_test_split are:  440052
The number of instances in the testing data after train_test_split are:   8981
The number of instances in the training data after StratifiedShuffleSplit are:  440052
The number of instances in the testing data after StratifiedShuffleSplit are:   8981

In [10]:
compare_proportions            = compare_random_and_stratified_split(dialect_dataset, 
                                                                      test_set, strat_test_set, "dialect")
compare_proportions

,Overall,stratified_test,random_test,stratified_test. %error,random_test. %error
AE,0.057390,0.057455,0.057566,0.112327,0.306343
BH,0.057381,0.057343,0.060906,-0.066488,6.142973
DZ,0.035319,0.035297,0.034963,-0.062663,-1.008442
EG,0.125789,0.125821,0.125264,0.025828,-0.416764
IQ,0.033822,0.033849,0.032624,0.081428,-3.539939
JO,0.060937,0.060906,0.060906,-0.049746,-0.049746
KW,0.091902,0.091861,0.094422,-0.044530,2.742107
LB,0.060273,0.060238,0.059236,-0.057937,-1.720559
LY,0.079658,0.079724,0.078944,0.082836,-0.895628
MA,0.025183,0.025164,0.024051,-0.076460,-4.497856
OM,0.041720,0.041755,0.042089,0.083340,0.884007
PL,0.095465,0.095424,0.097539,-0.043802,2.172264
QA,0.067807,0.067810,0.066585,0.004044,-1.802269
SA,0.058560,0.058568,0.057900,0.013873,-1.126970
SD,0.031502,0.031511,0.031845,0.029311,1.089693
SY,0.035448,0.035408,0.035519,-0.111577,0.202538
TN,0.020179,0.020154,0.017927,-0.126049,-11.161845
YE,0.021665,0.021713,0.021713,0.217631,0.217631

In [11]:
strat_test_set_path_to_save  = "strat_test_set.csv"

save_train_test_data(strat_test_set, "../dataset/dialect_data/test/", strat_test_set_path_to_save)

True

In [12]:
strat_train_set_path_to_save  = "strat_train_set.csv"

save_train_test_data(strat_train_set, "../dataset/dialect_data/train/", strat_train_set_path_to_save)

True

In [13]:
strat_train_set = read_file("../dataset/dialect_data/train/" + strat_train_set_path_to_save)
strat_train_set.head()

,id,dialect,text
0,1046024946705735552,MA,@Ahmed_Hamza27 اتمنى صراحة و خصوصا #طال_عمره ب...
1,1140189387508134016,LY,@rJiM4CnIFTgml9g @zamnissi طبعا عرفته من اللي ...
2,1051416181855440768,OM,@OmanisFollowers @ooredoo @TRA_OMAN @motc_om ه...
3,781770259422412800,PL,كلب شو كنتوا بتتوقعوا منه !؟ \n\nمحمود عباس لا...
4,968140551366340608,PL,#عزام 🔊\nاحنا ابو الولد وام الولد

In [14]:
strat_test_set = read_file("../dataset/dialect_data/test/" + strat_test_set_path_to_save)
strat_test_set.head()

,id,dialect,text
0,1159906099585327104,EG,ايه الخيبة و الهرتلة قدام الجون دول؟؟ 🤪😲\nالعي...
1,950123809608171648,DZ,@FIA_WIS تذكرت ما اسمي عائشة انا اسمي خولة
2,1091295506960142336,SA,@showqiy @3nood_mh لا والله نروح نشجع قطر و نف...
3,1179845110718181376,DZ,@espoir_dz1 يسلملي قلبك ولد مدينتي
4,1011983655546302464,EG,ملخص مؤتمر أبو سبوبة، قصدي أبو ريدة....احنا عم...

In [15]:
strat_dev_set = read_file("../dataset/dialect_data/validation/" + strat_dev_set_path_to_save)
strat_train_set.head()

,id,dialect,text
0,1046024946705735552,MA,@Ahmed_Hamza27 اتمنى صراحة و خصوصا #طال_عمره ب...
1,1140189387508134016,LY,@rJiM4CnIFTgml9g @zamnissi طبعا عرفته من اللي ...
2,1051416181855440768,OM,@OmanisFollowers @ooredoo @TRA_OMAN @motc_om ه...
3,781770259422412800,PL,كلب شو كنتوا بتتوقعوا منه !؟ \n\nمحمود عباس لا...
4,968140551366340608,PL,#عزام 🔊\nاحنا ابو الولد وام الولد

In [16]:
print(len(dialect_dataset))
print(len(strat_train_set))
print(len(strat_dev_set))
print(len(strat_test_set))

458197
440052
9164
8981

In [17]:
print(len(dialect_dataset) == (len(strat_train_set) + len(strat_dev_set) + len(strat_test_set)))

True